body {
  background: #232323;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
   max-width: 600px;
   margin: 0 auto;
}
.square {
  width: 30%;
  padding-bottom: 30%;
  background: purple;
  display: inline-block;
  margin: 1%;
  border-radius: 15%;
  transition: visibility, 0.6s;
  opacity: 0.5

}

h1 {
  text-align: center;
  color: white;
  background-color: darkorange;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: visibility, 0.6s;
}


#message {
display: inline-block;
width: 20%;

}
#display {
  text-transform: uppercase;
  font-size: 2em;
}
.bar {
  text-align: center;
  height: 30px;
  background: #ffffff;


}

.bar button {
  height: 100%;
  border: none;
  font-weight: 700;
  background: #ffffff;
  text-transform: uppercase;
  color: steelblue;
  outline: none;
}
#message {
  display: inline-block;
}
.bar button:hover {
  background: steelblue;
  color: white;
  transition: all 1s;
}

.selected {
  background: steelblue;
  color: white;
}
